<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mydavidjerome.david.animalsinfo">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!-- Still need to create these screen sizes -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/benjy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mydavidjerome.david.animalsinfo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mydavidjerome.david.animalsinfo.DogsActivity"
            android:label="AnimalsInfo"
            android:parentActivityName="com.mydavidjerome.david.animalsinfo.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mydavidjerome.david.animalsinfo.MainActivity" />
            <intent-filter android:label="@string/dogs">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--added here for unfunctioning DogsActivity-->
                <!--<category android:name="android.intent.category.ALTERNATIVE"/>-->
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.mydavidjerome.com"
                    android:pathPrefix="/animalsInfo" />
                <!--android:host="www.mydavidjerome.com"-->
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
            <intent-filter android:label="@string/dogs">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="example"
                    android:host="animalsinfo" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".DogsActivity"-->
        <!--android:parentActivityName=".MainActivity">-->
        <!--<meta-data-->
            <!--android:name="android.support.PARENT_ACTIVITY"-->
            <!--android:value=".MainActivity" />-->
        <!--</activity>-->
        <activity android:name="com.mydavidjerome.david.animalsinfo.FrogsActivity"
            android:parentActivityName="com.mydavidjerome.david.animalsinfo.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mydavidjerome.david.animalsinfo.MainActivity" />
        </activity>
        <activity android:name="com.mydavidjerome.david.animalsinfo.CatsActivity"
            android:parentActivityName="com.mydavidjerome.david.animalsinfo.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mydavidjerome.david.animalsinfo.MainActivity" />
        </activity>
        <!--<activity-->
            <!--android:name=".CatLayout"-->
            <!--android:parentActivityName=".MainActivity">-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        <!--</activity>-->




        <!--<activity android:name=".DogsActivity"/>-->
        <!--<activity android:name=".CatsActivity" />
        <activity android:name=".FrogsActivity" />-->
    </application>

</manifest>